@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/Fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../../assets/Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-family: Montserrat ;
  height: 30%;
}

th {
  color: #333;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

thead {
  tr {
    th {
      padding: 15px;
      background: #00A7E8;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-top: 15px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}


